@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --attribution: hsl(228, 45%, 44%);
  --attr-hover: hsl(228, 69%, 52%); 
  --font-size-normal: 1rem;
  --font-size-large: 1.46rem;
  --padding-small: 1rem;
  --padding-medium: 1.5rem;
  --padding-large: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Outfit";
  font-size: var(--font-size-normal);
  color: var(--dark-blue);
  background-color: var(--light-gray);
  /* width: 100%; */
  margin: 0;
  overflow: hidden;
}

/*setting the container to flex, and height 100vh to allow the card to be displayed in the center of the viewport*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*Using Google Chrome inspector showed devices like the iPhone SE had small top padding, so this was one solution to increase it and balance the view for the user*/
@media screen and (max-width: 375px) {
.container {
    padding-top: var(--padding-medium);
}    
}

.card {
  background-color: var(--white);
  padding: var(--padding-small) var(--padding-small) var(--padding-large);
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
/*flex properties*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--padding-medium);
}


.card-text {
  display: flex;
  flex-direction: column;
  width: 265px;
  gap: var(--padding-small);
}

.card-img {
  border-radius: 10px;
}

h1,
.card-text > p {
  margin: 0;
}

h1 {
  font-size: var(--font-size-large);
}

.card-text > p {
  color: var(--grayish-blue);
}

footer {
  text-align: center;
  padding: var(--padding-small);
}

/* FM attribution */
.attribution {
  font-size: 0.73rem;
}

.attribution a:link, a:visited {
  color: var(--attribution);
}

.attribution a:hover, a:focus, a:active {
    color: var(--attr-hover);
}